*{
margin: 0px;
padding:0px ;
box-sizing: border-box /*Importante agregar estas propiedades*/
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
p{
    font-size: 12px;
}
h3 {
    font-size: 24px;
}

.precio{
    font-size: 18px;
}

.descuento, .descripcion {
    font-size: 16px;
}

.descripcion {
    
    display: none;
}

header{
    background-color: #EAC926;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
  
}

div.burger-menu {
    text-align: center;
}

div.burger-menu i{
    
    background-color:#1259c3;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;  
    text-align: center;
    
}
.site{
    display: none;
}
.login{
    display: none;
}

p{
    font-size: 12px;
    text-align: center;
}
footer {
    text-align: center;
    background-color:white;
}
footer i{
    color: #1259c3;
    font-size: 2em;
    line-height:10px

}
div.main-article{
 
    border:solid 1px #ebebeb;
    box-sizing: border-box;
    padding: 15%;
    background-color:white ;

    

}

div.image{
 
    box-sizing: border-box;
    padding: 15%;
    background-color:white ;
   
    

}

main {
  
   /*aqui habia un margin y padding 
     width: 90vw;
  
    margin: 10%;*/
}

article {
    margin: 10px;
}


@media (min-width: 361px){

  .descripcion{
      display: block;
  }
  .login{
      display: block;
  }
  .site{
      display: block;
  }
  div.burger-menu i{
      display: none;
  }
      .article {
        box-shadow: 0px 0px 10px rgb(100,100,100);
      }
}


@media (min-width: 769px){

  

      
  
    }

